body {
    background-image: url("images/background.png");
    width: 960px;
    margin: auto
}

.navbar-brand {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 2.2em;
}

.navbar {
    border: solid 2px #4aaaa5;
    border-radius: 4px;
    width: 100%
}

#connect {
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding-top: 10px;
	height: 150px;
	background: #fff;
    text-align: center;
    border: solid 2px #777777;
    border-radius: 4px;
}

#connect.col-sm-4 {
    margin: 3em 0;
}

#connect h3 {
	font-size: 1.5em;
	font-weight: bold;
	color: #4aaaa5;
}

#connect img {
	margin: 0px 5px;
    height: 50px;
    clear: left
}

#connect img:hover {
    opacity: 0.7;
}

#footer {
	background: #383837;
    height: 100%;
    width: 100%;
    margin-left: 0;
    text-align: center;
    line-height: 70px;
    color: #fff;
    border-top: 2px solid #4aaaa5;
}

#about {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background: #fff;
    border: solid 2px #777777;
    border-radius: 4px;
}

#about.col-sm-8 {
    margin: 3em 0;
}


#about h2 {
	font-size: 1.7em;
	font-weight: bold;
	padding: 15px 0px 0px 15px;
	color: #4aaaa5;
}

#about hr {
	margin-left: 15px;
	margin-right: 15px;
}

#about img {
    height: 80%;
    width: 45%;
    margin: 5px 15px;
    padding: 10px 0 0 10px;
    float: left;
}

#about p {
	line-height: 20px;
	margin-left: 15px;
	margin-right: 15px;
	padding-top: 10px;
	text-align: justify; 
}

ul {
	padding: 0px;
}

#portfolio {
	background: #fff;
    overflow: auto;
    border: solid 2px #777777;
}

#portfolio.col-sm-8 {
    margin: 3em 0;
}

#portfolio h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 2em;
	font-weight: bold;
	padding: 10px 0px 0px 15px;
	color: #4aaaa5;
}

#portfolio hr {
	margin-left: 15px;
	margin-right: 15px;
}

#portfolio li {
	list-style: none;
	height: 200px;
    width: 45%;
    margin: 10px 0px 10px 20px;
    float: left;
}

#portfolio img {
	width: 100%;
	height: 100%;
}

#portfolio img:hover {
    opacity: 0.7;
}

.portLabel {
	color: #fff;
	background-color: #4aaaa5;
	line-height: 40px;
	text-align: center;
	position: relative;
	bottom: 53px;
}

#contact {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background: #fff;
    border: solid 2px #777777;
}

#contact.col-sm-8 {
    margin: 3em 0;
}

#contact h2 {
	font-size: 1.7em;
	font-weight: bold;
	padding: 15px 0px 0px 15px;
	color: #4aaaa5;
}

#contact hr {
	margin-left: 15px;
	margin-right: 15px;
}

#contact form {
	margin-left: 15px;
	color: #777777;
}

#contact form input {
	color: #777777;
	width: 97%;
	margin-bottom: 10px;
	margin-top: 3px;
}

#contact span {
	font-size: 1.1em;
}

#name {
	height: 30px;
	margin-bottom: 5px;
}

#name[type=text] {
	padding-left: 5px;
	font-size: 13px; 
    color: #777777
}

#email[type=text] {
	padding-left: 5px; 
	font-size: 13px;
    color: #777777
}

#message {
    padding: 5px;
    width: 97%;
    height: 10em;
    margin-bottom: 7px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777
}

#email {
	height: 30px;
	margin-bottom: 5px;	
}

#message {
	height: 185px;
	margin-bottom: 10px;
}

#submit[type=submit] {
	color: #fff;
	width: 70px;
 	height: 30px;
 	background: #4aaaa5;
 	border: none;
 	margin-top: 5px;
 	border-radius: 2px;
 	font-size: 13px;
}

#submit:hover {
    background-color: #0AC4C4
}

#submit:active {
    background-color: #666666;
    color: #000;
}